# Dataset Key determination

* To build the postgreSQL databasse schema for the website, a primary key is necessary.
* The code below is design for identifying duplications in the dataset, and generate the primary key if necessary

In [2]:
# Read in the dataset and check the current dataset 

import pandas as pd

file_path = 'cleaned_data_V3.csv'
data = pd.read_csv(file_path)

nullnumbers = data.isnull().sum()

print(data.head())
print(nullnumbers)

        C1AccountNo        CXRecords  Year Territory      Jan       Feb  \
0  A2061733056$=L._  91470FS$KD_> W<  2018      West     0.00      0.00
1  A2061733057#*N-2  91470GQ%![I! W<  2018   Central  1730.06  10023.32
2  A2061733058)U90^  91470I8%.+ML W<  2018      West     0.00      0.00
3  A2061733059#5)>2  91470KJ(,V-0 W<  2018   Central     0.00      0.00
4  A2061733060)(W<%  91470M0#>H/T W<  2018   Midwest     0.00    302.72

      Mar  Apr     May  Jun  ...  Aug     Sep     Oct    Nov      Dec  \
0    0.00  0.0    0.00  0.0  ...  0.0  639.00    0.00   0.00  1438.00
1  108.18  0.0    0.00  0.0  ...  0.0    0.00  282.60   0.00   861.14
2    0.00  0.0  306.86  0.0  ...  0.0    0.00  211.37  66.01     0.00
3    0.00  0.0    0.00  0.0  ...  0.0  153.46    0.00   0.00     0.00
4    0.00  0.0    0.00  0.0  ...  0.0    0.00    0.00   0.00     0.00

   q1_sales  q2_sales  q3_sales  q4_sales  annual_sales
0      0.00      0.00    639.00   1438.00       2077.00
1  11861.56      0.00      0.00   1143.74      13005.30
2      0.00    306.86      0.00    277.38        584.24
3      0.00      0.00    153.46      0.00        153.46
4    302.72      0.00      0.00      0.00        302.72

[5 rows x 21 columns]
C1AccountNo     0
CXRecords       0
Year            0
Territory       0
Jan             0
Feb             0
Mar             0
Apr             0
May             0
Jun             0
Jul             0
Aug             0
Sep             0
Oct             0
Nov             0
Dec             0
q1_sales        0
q2_sales        0
q3_sales        0
q4_sales        0
annual_sales    0
dtype: int64

In [3]:
print(nullnumbers.sum())

0

In [4]:
# Since there are no null values in the dataset, it is necessary to check the duplications in the original key
# The key could potnetially be C1AccountNo or the combination of C1AccountNo and CXReocods

# Check for duplicated values in the 'C1AccountNo' column
duplicate_C1AccountNo = data[data['C1AccountNo'].duplicated()]

# Check for duplicated values in the 'CXRecords' column
duplicate_CXRecords = data[data['CXRecords'].duplicated()]

print(f"Number of duplicated C1AccountNo entries: {duplicate_C1AccountNo.shape[0]}")
print(f"Duplicated C1AccountNo entries:\n{duplicate_C1AccountNo}")

print(f"\nNumber of duplicated CXRecords entries: {duplicate_CXRecords.shape[0]}")
print(f"Duplicated CXRecords entries:\n{duplicate_CXRecords}")

Number of duplicated C1AccountNo entries: 13640
Duplicated C1AccountNo entries:
                C1AccountNo        CXRecords  Year Territory     Jan  \
5699       A2061733056$=L._  91470FS$KD_> W<  2019      West    0.00
5700       A2061733057#*N-2  91470GQ%![I! W<  2019   Central    0.00
5701       A2061733058)U90^  91470I8%.+ML W<  2019      West    0.00
5702       A2061733059#5)>2  91470KJ(,V-0 W<  2019   Central    0.00
5703       A2061733060)(W<%  91470M0#>H/T W<  2019   Midwest  357.52
...                     ...              ...   ...       ...     ...
42026  C4080750590!E-U:CJil  P2WM3KS*,0K5CB\  2024   Unknown  207.56
42029  C4080844242&T9.Z&Ter  P2YZVZK(Z8 M&`6  2024     South    0.00
42031  C4080859683%`Z1=^M-8  P2ZGFQ1)/%:S^!P  2024   Unknown    0.00
42032  C4081227715#89C+2Fre  P38SJPQ*0OUL;!2  2024   Central    0.00
42033  C4081242226$MK&4&Pey  P3983JV%CFG.&`6  2024   Midwest    0.00

            Feb      Mar      Apr     May      Jun  ...     Aug      Sep  \
5699       0.00    244.0   806.60  589.15     0.00  ...    0.00     0.00
5700     216.16   5724.0  1566.75    0.00     0.00  ... -173.88  1219.12
5701     180.43      0.0     0.00    0.00     0.00  ...    0.00   106.72
5702       0.00      0.0     0.00    0.00     0.00  ...    0.00   154.77
5703       0.00      0.0     0.00    0.00     0.00  ...    0.00     0.00
...         ...      ...      ...     ...      ...  ...     ...      ...
42026  31312.07  18383.8    79.20  675.75  5145.89  ...    0.00     0.00
42029      0.00      0.0     0.00    0.00     0.00  ...  151.20     0.00
42031   1517.09      0.0   182.74    0.00     0.00  ...    0.00     0.00
42032      0.00      0.0     0.00    0.00     0.00  ...  535.20     0.00
42033      0.00      0.0     0.00    0.00     0.00  ...  897.39     0.00

          Oct  Nov      Dec  q1_sales  q2_sales  q3_sales  q4_sales  \
5699     0.00  0.0     0.00    244.00   1395.75      0.00      0.00
5700   241.39  0.0  1378.59   5940.16   1566.75   1219.12   1619.98
5701   308.52  0.0     0.00    180.43      0.00    106.72    308.52
5702     0.00  0.0     0.00      0.00      0.00    154.77      0.00
5703     0.00  0.0     0.00    357.52      0.00      0.00      0.00
...       ...  ...      ...       ...       ...       ...       ...
42026    0.00  0.0     0.00  49903.43   5900.84      0.00      0.00
42029    0.00  0.0     0.00      0.00      0.00    357.45      0.00
42031    0.00  0.0     0.00   1517.09    182.74      0.00      0.00
42032    0.00  0.0     0.00      0.00      0.00    535.20      0.00
42033    0.00  0.0     0.00      0.00      0.00    897.39      0.00

       annual_sales
5699        1639.75
5700       10346.01
5701         595.67
5702         154.77
5703         357.52
...             ...
42026      55804.27
42029        357.45
42031       1699.83
42032        535.20
42033        897.39

[13640 rows x 21 columns]

Number of duplicated CXRecords entries: 13407
Duplicated CXRecords entries:
                C1AccountNo        CXRecords  Year Territory     Jan  \
5699       A2061733056$=L._  91470FS$KD_> W<  2019      West    0.00
5700       A2061733057#*N-2  91470GQ%![I! W<  2019   Central    0.00
5701       A2061733058)U90^  91470I8%.+ML W<  2019      West    0.00
5702       A2061733059#5)>2  91470KJ(,V-0 W<  2019   Central    0.00
5703       A2061733060)(W<%  91470M0#>H/T W<  2019   Midwest  357.52
...                     ...              ...   ...       ...     ...
42026  C4080750590!E-U:CJil  P2WM3KS*,0K5CB\  2024   Unknown  207.56
42029  C4080844242&T9.Z&Ter  P2YZVZK(Z8 M&`6  2024     South    0.00
42031  C4080859683%`Z1=^M-8  P2ZGFQ1)/%:S^!P  2024   Unknown    0.00
42032  C4081227715#89C+2Fre  P38SJPQ*0OUL;!2  2024   Central    0.00
42033  C4081242226$MK&4&Pey  P3983JV%CFG.&`6  2024   Midwest    0.00

            Feb      Mar      Apr     May      Jun  ...     Aug      Sep  \
5699       0.00    244.0   806.60  589.15     0.00  ...    0.00     0.00
5700     216.16   5724.0  1566.75    0.00     0.00  ... -173.88  1219.12
5701     180.43      0.0     0.00    0.00     0.00  ...    0.00   106.72
5702       0.00      0.0     0.00    0.00     0.00  ...    0.00   154.77
5703       0.00      0.0     0.00    0.00     0.00  ...    0.00     0.00
...         ...      ...      ...     ...      ...  ...     ...      ...
42026  31312.07  18383.8    79.20  675.75  5145.89  ...    0.00     0.00
42029      0.00      0.0     0.00    0.00     0.00  ...  151.20     0.00
42031   1517.09      0.0   182.74    0.00     0.00  ...    0.00     0.00
42032      0.00      0.0     0.00    0.00     0.00  ...  535.20     0.00
42033      0.00      0.0     0.00    0.00     0.00  ...  897.39     0.00

          Oct  Nov      Dec  q1_sales  q2_sales  q3_sales  q4_sales  \
5699     0.00  0.0     0.00    244.00   1395.75      0.00      0.00
5700   241.39  0.0  1378.59   5940.16   1566.75   1219.12   1619.98
5701   308.52  0.0     0.00    180.43      0.00    106.72    308.52
5702     0.00  0.0     0.00      0.00      0.00    154.77      0.00
5703     0.00  0.0     0.00    357.52      0.00      0.00      0.00
...       ...  ...      ...       ...       ...       ...       ...
42026    0.00  0.0     0.00  49903.43   5900.84      0.00      0.00
42029    0.00  0.0     0.00      0.00      0.00    357.45      0.00
42031    0.00  0.0     0.00   1517.09    182.74      0.00      0.00
42032    0.00  0.0     0.00      0.00      0.00    535.20      0.00
42033    0.00  0.0     0.00      0.00      0.00    897.39      0.00

       annual_sales
5699        1639.75
5700       10346.01
5701         595.67
5702         154.77
5703         357.52
...             ...
42026      55804.27
42029        357.45
42031       1699.83
42032        535.20
42033        897.39

[13407 rows x 21 columns]

In [6]:
print(f"Number of duplicated C1AccountNo entries: {duplicate_C1AccountNo.shape[0]}")
print(f"\nNumber of duplicated CXRecords entries: {duplicate_CXRecords.shape[0]}")

Number of duplicated C1AccountNo entries: 13640

Number of duplicated CXRecords entries: 13407

In [7]:
# Check if combining the two columns will eliminate duplications
data['Combined_2col'] = data['C1AccountNo'] + '-' + data['CXRecords']

duplicate_combined = data[data['Combined_2col'].duplicated()]

print(f"Number of duplicated combined entries: {duplicate_combined.shape[0]}")

Number of duplicated combined entries: 13407

In [8]:
# Since there are still duplications, check to see if combining the three would reduce the duplications

data['Combined_3col'] = data['C1AccountNo'] + '-' + data['CXRecords'] + '-' + data['Year'].astype(str)

duplicate_composite_with_year = data[data['Combined_3col'].duplicated()]

print(f"Number of duplicated composite key with year entries: {duplicate_composite_with_year.shape[0]}")

Number of duplicated composite key with year entries: 0

## Since the three valuesï¼šC1AccountNo + CXRecords + Year will eliminate duplications, we will create a key that is composited using these three columns

In [9]:
print(data.head())

        C1AccountNo        CXRecords  Year Territory      Jan       Feb  \
0  A2061733056$=L._  91470FS$KD_> W<  2018      West     0.00      0.00
1  A2061733057#*N-2  91470GQ%![I! W<  2018   Central  1730.06  10023.32
2  A2061733058)U90^  91470I8%.+ML W<  2018      West     0.00      0.00
3  A2061733059#5)>2  91470KJ(,V-0 W<  2018   Central     0.00      0.00
4  A2061733060)(W<%  91470M0#>H/T W<  2018   Midwest     0.00    302.72

      Mar  Apr     May  Jun  ...     Oct    Nov      Dec  q1_sales  q2_sales  \
0    0.00  0.0    0.00  0.0  ...    0.00   0.00  1438.00      0.00      0.00
1  108.18  0.0    0.00  0.0  ...  282.60   0.00   861.14  11861.56      0.00
2    0.00  0.0  306.86  0.0  ...  211.37  66.01     0.00      0.00    306.86
3    0.00  0.0    0.00  0.0  ...    0.00   0.00     0.00      0.00      0.00
4    0.00  0.0    0.00  0.0  ...    0.00   0.00     0.00    302.72      0.00

   q3_sales  q4_sales  annual_sales                     Combined_2col  \
0    639.00   1438.00       2077.00  A2061733056$=L._-91470FS$KD_> W<
1      0.00   1143.74      13005.30  A2061733057#*N-2-91470GQ%![I! W<
2      0.00    277.38        584.24  A2061733058)U90^-91470I8%.+ML W<
3    153.46      0.00        153.46  A2061733059#5)>2-91470KJ(,V-0 W<
4      0.00      0.00        302.72  A2061733060)(W<%-91470M0#>H/T W<

                           Combined_3col
0  A2061733056$=L._-91470FS$KD_> W<-2018
1  A2061733057#*N-2-91470GQ%![I! W<-2018
2  A2061733058)U90^-91470I8%.+ML W<-2018
3  A2061733059#5)>2-91470KJ(,V-0 W<-2018
4  A2061733060)(W<%-91470M0#>H/T W<-2018

[5 rows x 23 columns]

In [10]:
#Drop columns and rearrange columns
data = data.drop('Combined_2col', axis=1)

# Move 'Combined_3col' to the front
cols = ['Combined_3col'] + [col for col in data.columns if col != 'Combined_3col']
data = data[cols]

print(data.head())

                           Combined_3col       C1AccountNo        CXRecords  \
0  A2061733056$=L._-91470FS$KD_> W<-2018  A2061733056$=L._  91470FS$KD_> W<
1  A2061733057#*N-2-91470GQ%![I! W<-2018  A2061733057#*N-2  91470GQ%![I! W<
2  A2061733058)U90^-91470I8%.+ML W<-2018  A2061733058)U90^  91470I8%.+ML W<
3  A2061733059#5)>2-91470KJ(,V-0 W<-2018  A2061733059#5)>2  91470KJ(,V-0 W<
4  A2061733060)(W<%-91470M0#>H/T W<-2018  A2061733060)(W<%  91470M0#>H/T W<

   Year Territory      Jan       Feb     Mar  Apr     May  ...  Aug     Sep  \
0  2018      West     0.00      0.00    0.00  0.0    0.00  ...  0.0  639.00
1  2018   Central  1730.06  10023.32  108.18  0.0    0.00  ...  0.0    0.00
2  2018      West     0.00      0.00    0.00  0.0  306.86  ...  0.0    0.00
3  2018   Central     0.00      0.00    0.00  0.0    0.00  ...  0.0  153.46
4  2018   Midwest     0.00    302.72    0.00  0.0    0.00  ...  0.0    0.00

      Oct    Nov      Dec  q1_sales  q2_sales  q3_sales  q4_sales  \
0    0.00   0.00  1438.00      0.00      0.00    639.00   1438.00
1  282.60   0.00   861.14  11861.56      0.00      0.00   1143.74
2  211.37  66.01     0.00      0.00    306.86      0.00    277.38
3    0.00   0.00     0.00      0.00      0.00    153.46      0.00
4    0.00   0.00     0.00    302.72      0.00      0.00      0.00

   annual_sales
0       2077.00
1      13005.30
2        584.24
3        153.46
4        302.72

[5 rows x 22 columns]

In [11]:
#Rename the Combined_3col to 'Unq_Name'
data = data.rename(columns={'Combined_3col': 'Unq_Name'})

print(data.head())

                                Unq_Name       C1AccountNo        CXRecords  \
0  A2061733056$=L._-91470FS$KD_> W<-2018  A2061733056$=L._  91470FS$KD_> W<
1  A2061733057#*N-2-91470GQ%![I! W<-2018  A2061733057#*N-2  91470GQ%![I! W<
2  A2061733058)U90^-91470I8%.+ML W<-2018  A2061733058)U90^  91470I8%.+ML W<
3  A2061733059#5)>2-91470KJ(,V-0 W<-2018  A2061733059#5)>2  91470KJ(,V-0 W<
4  A2061733060)(W<%-91470M0#>H/T W<-2018  A2061733060)(W<%  91470M0#>H/T W<

   Year Territory      Jan       Feb     Mar  Apr     May  ...  Aug     Sep  \
0  2018      West     0.00      0.00    0.00  0.0    0.00  ...  0.0  639.00
1  2018   Central  1730.06  10023.32  108.18  0.0    0.00  ...  0.0    0.00
2  2018      West     0.00      0.00    0.00  0.0  306.86  ...  0.0    0.00
3  2018   Central     0.00      0.00    0.00  0.0    0.00  ...  0.0  153.46
4  2018   Midwest     0.00    302.72    0.00  0.0    0.00  ...  0.0    0.00

      Oct    Nov      Dec  q1_sales  q2_sales  q3_sales  q4_sales  \
0    0.00   0.00  1438.00      0.00      0.00    639.00   1438.00
1  282.60   0.00   861.14  11861.56      0.00      0.00   1143.74
2  211.37  66.01     0.00      0.00    306.86      0.00    277.38
3    0.00   0.00     0.00      0.00      0.00    153.46      0.00
4    0.00   0.00     0.00    302.72      0.00      0.00      0.00

   annual_sales
0       2077.00
1      13005.30
2        584.24
3        153.46
4        302.72

[5 rows x 22 columns]

In [12]:
#Export this dataset into csv file
output_file_path = 'data_insert.csv'
data.to_csv(output_file_path, index=False)

print(f"Data has been exported to {output_file_path}")

Data has been exported to data_insert.csv